<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.andy.tsylko.imbt.bsu.course_project_demo2">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/test"
        android:supportsRtl="true"
        android:theme="@style/CustomTheme">
        <activity
            android:name=".Login"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainMenu"
            android:label="@string/main_menu"
            android:screenOrientation="portrait"
            android:theme="@style/CustomTheme" />
        <activity android:name=".FacultyMenu"></activity>
    </application>

</manifest>